Package                Version
---------------------- -------------
Flask                  3.0.2
Flask-Cors             4.0.0
numpy                  1.25.2
pandas                 1.4.3
pillow                 10.2.0
pip                    22.0.2
pymongo                4.6.1
SQLAlchemy             2.0.28